<div id="skills_wrapper" class="base_wrapper">
  <div class="opacity_layer"></div>
  <div class="content_container">

    <div class="text_container">
      <p class="text_m">My primary programming languages:</p>
    </div>
    <div id="tech_img_container_l">
      <%= image_tag("icons/tech_css.svg", class: "tech_img_l") %>
      <%= image_tag("icons/tech_html.svg", class: "tech_img_l") %>
      <%= image_tag("icons/tech_rails.svg", class: "tech_img_l") %>
      <%= image_tag("icons/tech_ruby.svg", class: "tech_img_l") %>
      <%= image_tag("icons/tech_jquery.svg", class: "tech_img_l") %>
      <%= image_tag("icons/tech_react.svg", class: "tech_img_l") %>
      <%= image_tag("icons/tech_postgreesql.png", class: "tech_img_l") %>
    </div>

    <div class="text_container">
      <p class="text_s">Additional languages: </p>
    </div>
    <div id="tech_img_container_l">
      <%= image_tag("icons/tech_circleci.png", class: "tech_img_s") %>
      <%= image_tag("icons/tech_gimp.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_google.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_heroku.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_jasmine.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_mysql.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_node.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_npm.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_rspec.png", class: "tech_img_s") %>
      <%= image_tag("icons/tech_sqlite.png", class: "tech_img_s") %>
      <%= image_tag("icons/tech_travis.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_yarn.svg", class: "tech_img_s") %>
    </div>

    <div class="text_container">
      <p class="text_s">As well as plenty of project management technologies:</p>
    </div>
    <div id="tech_img_container_l">
      <%= image_tag("icons/tech_atom.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_git.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_github.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_agile.png", class: "tech_img_s") %>
      <%= image_tag("icons/tech_stripe.png", class: "tech_img_s") %>
      <%= image_tag("icons/tech_slack.svg", class: "tech_img_s") %>
      <%= image_tag("icons/tech_trello.svg", class: "tech_img_s") %>
    </div>

  </div>
</div>
