<div id="projects-wrapper" class="page_wrapper">

    <div class="project-item">
      <div class="project-item-over">
        <div class="project-item-left">
          <%= link_to "https://senyours.io/", target: :_blank, class: 'project-name' do %>
              <%= image_tag("SenYours_logo.jpg", class: "project-image") %>
          <% end %>
        </div>
        <div class="project-item-right">
          <%= link_to 'SenYours', "https://senyours.io/", target: :_blank, class: 'project-name' %>
          <p class="project-about">Senyours connect seniors with verified and background checked local citizens in their community to help with activities such as shopping, laundry, medical appointment and socialization for an hourly fee.</p>
        </div>
      </div>
      <div class="project-item-under">
        <p class="project-tech">Technologies: Rails, PG, HTML, CSS3, CarrierWave, Stripe, AJAX, JQuery, + More</p>
      </div>
    </div>

    <div class="project-item">
      <div class="project-item-over">
        <div class="project-item-left">
          <%= link_to overview_path, target: :_blank, class: 'project-name' do %>
              <%= image_tag("dogs_09.jpg", class: "project-image") %>
          <% end %>
        </div>
        <div class="project-item-right">
          <%= link_to 'Responsive Design Experiment', overview_path, target: :_blank, class: 'project-name' %>
          <%= link_to 'Project Github', "https://github.com/BlaineAndersonDev/coders-handbook", target: :_blank, class: 'project-github' %>
          <p class="project-about">A small project that explores website design by showing a number of Responsive Design Techniques side by side. All Stylesheets & html.erb files are provided.</p>
        </div>
      </div>
      <div class="project-item-under">
        <p class="project-tech">Technologies: Rails, Media Queries, HTML, CSS3 </p>
      </div>
    </div>

    <div class="project-item">
      <div class="project-item-over">
        <div class="project-item-left">
          <%= link_to "https://dungeons-battle-simulator.herokuapp.com/", target: :_blank, class: 'project-name' do %>
              <%= image_tag("dungeons_logo.jpg", class: "project-image") %>
          <% end %>
        </div>
        <div class="project-item-right">
          <%= link_to 'Dungeons', "https://dungeons-battle-simulator.herokuapp.com/", target: :_blank, class: 'project-name' %>
          <%= link_to 'Project Github', "https://github.com/BlaineAndersonDev/Dungeons", target: :_blank, class: 'project-github' %>
          <p class="project-about">A fully functional battle simulator, just like the Nintendo glory days. Includes a choice of characters and enemies.</p>
        </div>
      </div>
      <div class="project-item-under">
        <p class="project-tech">Technologies: ReactJS, Javascript, HTML, CSS3, React Routes, + More</p>
      </div>
    </div>

    <div class="project-item">
      <div class="project-item-over">
        <div class="project-item-left">
          <%= link_to "https://powerpostal.herokuapp.com/", target: :_blank, class: 'project-name' do %>
              <%= image_tag("power_postal_logo_2.png", class: "project-image") %>
          <% end %>
        </div>
        <div class="project-item-right">
          <%= link_to 'Power Postal', "https://powerpostal.herokuapp.com/", target: :_blank, class: 'project-name' %>
          <%= link_to 'Project Github', "https://github.com/BlaineAndersonDev/ProgressivePowerPostal", target: :_blank, class: 'project-github' %>
          <p class="project-about">From the ground up recreation of the original website. Include dynamic rendering & speedy response time.</p>
        </div>
      </div>
      <div class="project-item-under">
        <p class="project-tech">Technologies: ReactJS, Javascript, HTML, CSS3, React Routes, + More</p>
      </div>
    </div>

    <div class="project-item">
      <div class="project-item-over">
        <div class="project-item-left">
          <%= image_tag("sautee-seattle.png", class: "project-image") %>
        </div>
        <div class="project-item-right">
          <h1 class="project-name-nohover">Sautee Seattle</h1>
          <%= link_to 'Project Github', "https://github.com/Sautee-Seattle/Sautee-Seattle", target: :_blank, class: 'project-github' %>
          <p class="project-about">Created by a bunch of local foodies, Sautee Seattle focus' on local grown and sustainable produce. Provides an avenue for users to interact & locate local farmers markets as well as share recipies.</p>
        </div>
      </div>
      <div class="project-item-under">
        <p class="project-tech">Technologies: Rails, PG, HTML, CSS3, Selenium, Google API, AJAX, JQuery, + More</p>
      </div>
    </div>

</div>
