<!DOCTYPE html>
<html>
  <head>
    <title>CodersHandbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="site_container">
    <%= render 'navigation/show' %>
    <%= yield %>
    <%= render 'footer/show' %>
  </body>
</html>
