<!DOCTYPE html>
<html>
  <head>
    <title>CodersHandbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="site_container">
      <div id="site_nav_container"><%= render 'navigation/show' %></div>
      <div id="site_body_container"><%= yield %></div>
      <div id="site_foot_container"><%= render 'footer/show' %></div>
    </div>
  </body>
</html>
